/* ........................................B O D Y..................................... */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* .......................Welcome to the Gallery of Horns (<h1>)....................... */
/* h1 {
  font-family: import some nonsense from google!;
} */
/* .......................................C O D E ..................................... */
/* .......................................M A I N ..................................... */
/* ...................................G A L L E R Y (<div="gallery">).................. */
/* .....................................I M A G E S.................................... */
/* ...............................D E S C R I P T I O N (<p>).......................... */
/* .....................................F O O T E R.................................... */
/* ..................................S T O C K . C S S ................................ */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */